body{
    margin: 0;
    padding: 0;
    align-items: center;
}

.portada img{
    width: 100%;
    z-index: 0;
    position: relative;
    margin-top: -200px;
}
.logo{
    background-color: white;
    z-index: 1;
    position: relative;
    color: #2F001B;
}

.logo h1{
    font-size: 50px;
    margin-top: 8px;
    padding-bottom: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.textoportada{
    background-color: #FE9393;
    padding: 10px;
    margin-top: -230px;
    z-index: 1;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}

.textoportada h2 {
    width: 80%;
    padding-left: 70px;
    color: white;
}

nav{
    display: flex;
    justify-items: space-between;
    align-items: center;
    color:#2F001B;
    background-color: #f3caba;
    height: 80px;
    width: 100%;
    margin: 0;
    z-index: 1;
    position: relative;
}

.comofunciona{
    background-color: white;
    z-index: 1;
    position: relative;
    display: flex;
    margin: auto;
    padding-bottom: 30px;
    padding-right: 10px;
    font-size: 30px;
    text-align: right;
    padding-top: 50px;
}
.infoF{
    width: 100%;
    padding: 40px;
    padding-right: 50px;
    padding-left: 300px;
    padding-top: 70px;
}
.imgF{
    padding-right: 0px;
    padding-left: 0px;
}
.imgF img{
    width: 140%;
    padding-top: 70px;
    padding-left: 80px;

}
.sobrenosotros{
    background-color: white;
    z-index: 1;
    position: relative;
    display: flex;
    margin: auto;
    font-size: 30px;
    padding-top: 50px;
}
.infoSN{
    width: 50%;
    padding-right: 40px;
    padding-left: 80px;
}
.imgSN{
margin-left:0px;
padding-right: 60px;
}

.imgSN img{
    width: 100%;
    padding-top: 90px;
}

.sobrenosotros h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #004E94;
}
.sobrenosotros p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.comofunciona h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #004E94;
}
.comofunciona p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ul{
    list-style: none;
    margin: 0;
    display: flex;
    padding-left: 375px;
    padding-right: 70px;
    padding-top: 25px;
    padding-bottom: 20px;
}
nav li{
    margin: 0 100px;
    font-size: 25px;
    padding-bottom: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}

.menu-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.menu-icon span{
    display: block;
    height: 3px;
    background-color: #441E37;
    padding-left: 40px;
}


nav li a {
    position: relative;
    text-decoration: none;
    color: #333;
    padding-bottom: 16px;
}

.bot{
     display: block;
     width: 100%;
}

.line{
    background-color: #F86F6F;
    height: 3px;
    width: auto;
    margin-left: 376px;
    margin-right: 71px;
}
  
nav li a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #F86F6F;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  nav li a:hover::after {
    transform: scaleX(2.5);
  }

  .boton{
    border-radius: 5px;
    color: white;
    width: 140px;
    height: 50px;
    font-size: 20px;
    background-color: #F86F6F;
    outline: none;
    border: none;
  }


.imgT1 {
    display: inline-block;
    position: relative;
    width: 820px;
    height: 350px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 190px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
}
.imgT1 img{
    width: auto;
    height: 100%;
    margin-left: -90px;
}

.infoT1{
    padding-left: 100px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #656B6C;
    width: 100%;
    padding-right: 300px;
  }

.imgT{
    display: inline-block;
    position: relative;
    width: 770px;
    height: 350px;
    overflow: hidden;
    border-radius: 50%;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.imgT img{
    width: auto;
    height: 100%;
    margin-left: -90px;
}
.infoT{
    padding-left: 100px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #656B6C;
    width: 100%;
    padding-right: 300px;
}





.infoextra{
    font-weight: 600;
}

.testimonios{
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #004E94;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 80px;
}
  
.slider{
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides{
    width: 100%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    display: flex;
    transition: 2s;
}

.navigation-manual{
    position: absolute;
    width: 1500px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    background:#A19F96;
    border: 2px solid #A19F96;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    background:#ffffff;
    border: 2px solid #000000;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -91%;
}
#radio3:checked ~ .first{
    margin-left: -182%;
}
#radio4:checked ~ .first{
    margin-left: -273%;
}

