/* Fondo de la pantalla */
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    justify-content: center;
}

/* Navbar */
nav {
    background-color: #f3caba;
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul:before {
    content: "";
    display:block;
    background-color: #ff3c78;
    height: 2px;
    width: 100%;
    transform: translateY(78px);
}

nav ul li.active:before {
    content: "";
    position: absolute; 
    background-color: #ff3c78;
    height: 4px;
    width: 130%;
    bottom: 7px; 
    left: 50%; 
    transform: translateX(-50%); 
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 18px;
    position: relative;
}

nav ul li a {
    color: #333;
    font-size: 25px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav .navLogo {
    display: none;
}

nav ul li:hover:after {
    content: "";
    position: absolute; 
    background-color: #ff3c78;
    height: 4px;
    width: 130%;
    bottom: 7px; 
    left: 50%; 
    transform: translateX(-50%); 
}

.checkbtn {
    font-size: 25px;
    color: #333;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
}

#check {
    display:none;
}

/* containerLogo */
.containerLogo {
    display: flex;
}

.dLogo {
    display: flex;
    flex-direction: row;
}

.imgLogo {
    float: left;
    margin: 15px 30px;
    width: 40%;
}

.containerLogo h1 {
    font-size: 50px;
    margin: 25px 0px;
    color:#2F001B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dDownload {
    display: flex;
    margin-left: 102%;
}

.imgAppStore {
    width:130px;
    margin-right: 20%;
    margin-left: 20px;
}

.imgPlayStore {
    width:140px;    
}

/* containerPortada */
.containerPortada {
    width: 100%;
    margin: 0 auto;
    display: block;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.imgPortada {
    width: 100%;
}

.dHPortada {
    background-color: #FE9393;
    position: relative;
    margin-top: -4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}

.hPortada{
    color: white;
    text-align: center;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    padding: 5px 50px;
}

/* containerSobreNosotros */
.containerSobreNosotros {
    width:90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
    grid-gap: 1.2rem;
}

.dInfoSN {
    padding: 1rem 2rem;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction:column; 
}

.dInfoSN h2 {
    font-size: 45px;
    color: #004E94;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    order: 1;
}

.dInfoSN p {
    margin: 15px 0px;
    font-size: 23px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    order: 2;
}

.btnSN {
    width: 90px;
    height: 30px;
    margin-top: 5px;
    border-color: transparent;
    border-radius: 5px;
    color: white;
    background-color: #FE9393;
    order: 3;
}

.dImgSN1 {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.dImgSN1 .imgSN1 {
    width: 100%;
    border-radius: 5px;
}

.imgSN2 {
    display: none;
}

/* containerComoFunciona */
.containerComoFunciona {
    width:90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
    grid-gap: 1.2rem;
}

.dInfoCF {
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    flex-direction:column; 
    align-items: end;
}

.imgCF2 {
    display: none;
}

.dImgCF1 .imgCF1 {
    width: 70%;
    border-radius: 5px;
    margin-top: 10%;
    margin-left: 10%;
}

.dInfoCF h2 {
    font-size: 45px;
    color: #004E94;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dInfoCF p {
    margin: 15px 0px;
    font-size: 23px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btnCF {
    width: 90px;
    justify-content:flex-end;
    height: 30px;
    margin-top: 5px;
    border-color: transparent;
    border-radius: 5px;
    color: white;
    background-color: #FE9393;
}

/* containerTestimonios*/
.hTSM {
    font-size: 45px;
    color: #004E94;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 30px 0px 0px 0px;
}
 
.containerTestimonio {
    width:90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
    grid-gap: 1.2rem;
}

.dInfoTSM {
    padding: 1rem 2rem;
    display: flex;
    justify-content:center;
    flex-direction:column; 
    align-items: end;
}

.dImgTSM {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgTSM {
    width:400px;
    height:350px;
    border-radius: 50%;
    margin-left: 15%;
    margin-top: 10%;
}

.dInfoTSM p {
    margin-left:30px;
    font-size: 23px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dInfoTSM .pInfoTSM {
    margin-top: 19px;
    font-size: 23px;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Botones para deslizar testimonios */
.buttons {
    text-align: center;
}

.buttons1, .dots1 {
    display: none;
}

.prev-button, .next-button {
    margin: 10px;
}
  
.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
  
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
}
  
.active-dot {
    background-color: black;
}

/* containerTrustedBrands*/
.trustedBrands {
    font-size: 45px;
    color: #004E94;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 30px 0px 0px 0px;
}

.containerTrustedBrands {
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem,1fr));
    grid-gap: 10px;
    padding: 45px 80px;
}

.containerTrustedBrands .dImgBrand {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}   

/* containerFooter */
footer {
    background-color: #f3caba;
    width: 100%;
}

footer .containerFooter {
    width:100%;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem,1fr));
    grid-gap: 10px;
    padding: 45px 80px;
}

.dInfoPixgram, .dInfoAboutUs, .dInfoSoporte, .dInfoContactanos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dInfoPixgram p {
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dInfoAboutUs p, .dInfoSoporte p, .dInfoContactanos p {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.dInfoAboutUs h3, .dInfoSoporte h3, .dInfoContactanos h3 {
    color: white;
    margin-top: -20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dInfoSoporte {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.dInfoSoporte a, .dInfoAboutUs a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer .containerRedes {
    margin: -10px 0px 30px 80px;
}

footer .containerRedes a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    width: 1px;
    line-height: 1px;
    padding-right: 3%;
    text-align: center;
}

.containerLine {
    width: 100%; 
    content: "";
    display: flex;
    position: absolute;
    background-color: white;
    margin-top: -10px;
    height: 3px;
}


footer .containerPrivacy {
    text-align: right;
    margin-right: 80px;
    line-height: 3;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Diseño responsive hasta maximo de ancho de pantalla 952px */
@media (max-width: 952px) {
    /* Navbar */
    nav ul li a {
        font-size: 20px;
    }

    nav ul li.active:before {
        height: 4px;
        width: 128%;
        bottom: 6px; 
        left: 50%; 
        transform: translateX(-49%); 
    }

    nav ul li:hover:after {
        height: 4px;
        width: 129%;
        bottom: 6px; 
        left: 50%; 
        transform: translateX(-48%); 
    }

    /* containerPortada */
    .dHPortada .hPortada {
        font-size: 32px;
    }

    /* containerSobreNosotros */
    .containerSobreNosotros .dInfoSN h2 {
        font-size: 40px;
        margin-top: -15px;
    }

    .containerSobreNosotros .dInfoSN p {
        font-size: 21px;
        margin-top: 6px;
    }
    
    /* containerComoFunciona */
    .containerComoFunciona .dInfoCF h2 {
        font-size: 40px;
    }
    
    .containerComoFunciona .dInfoCF p {
        font-size: 21px;
        margin-top: 6px;    
    }

    .containerComoFunciona .dImgCF1 .imgCF1 {
        width: 80%;
    }

    /* containerTestimonios */
    section .hTSM {
        font-size: 40px;
        margin-top: 10px;
    }
    .containerTestimonio .dInfoTSM {
        padding: 1rem 0rem;
        margin-left: 6px;
    }

    .containerTestimonio .dInfoTSM p {
        font-size: 21px;
    }

    .containerTestimonio .dImgTSM .imgTSM {
        width: 80%;
        height: 90%;
        margin-top: -1px;
    }
}

/* Diseño responsive hasta maximo de ancho de pantalla 678px */
@media (max-width: 678px) {
    /* Navbar */
    .checkbtn {
        display: block;
    }
    
    nav ul:before {
        content: none;
        display: none;
    }
    nav {
        z-index: 9999;
        position: fixed;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ecb29c;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 9999;
    }
    
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    nav ul li.active:before {
        content: none;
    }

    nav ul li.active:hover {
        content: none;
    }
    
    nav ul li:hover:after {
        
        content: none;
    }

    nav ul li a {
        font-size: 20px; 
        position: relative;
    }
    
    nav ul li a:after {
        content: "";
        position: absolute;
        bottom: 10px;
        transform: translateY(15px);
        left: 0;
        display: inline-flex;
        background-color: #ff3c78;
        height: 4px;
    }

    nav ul li a:hover:after {
        width: 100%;
    }

    #check:checked ~ ul, nav::after {
        left: 0;
    }

    /* containerLogo */
    .containerLogo {
        display:inline;
        justify-content: center;
        align-items: center;
    }

    .dLogo {
        margin-bottom: 10px;
        display: flex;
        position: relative;
        justify-content: center;
        margin-left: -20px;
        padding-top: 77px;
    }

    .containerLogo .imgLogo {
        width: 13%;
        flex-direction: row;
        float: none;
        margin: none;
    }
    
    .containerLogo h1 {
        font-size: 40px;
        margin-left: -20px;
        margin-top: 30px;
    }

    .dDownload {
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: row;
        margin-left: 19%;
        margin-bottom: 10px;
    }
    
    .imgAppStore {
        width:130px;
        margin-right: 20%;
        margin-left: 20px;
        cursor: pointer;
    }
    
    .imgPlayStore {
        width:140px; 
        cursor: pointer;   
    }

    /* containerPortada */
    .dHPortada {
        background-color: white;
        position: relative;
        margin-top: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
    }

    .imgPortada {
        display: none;
    }

    .dHPortada .hPortada {
        font-size: 25px;
        color: black;
    }   

    /* containerSobreNosotros */
    .imgSN2 {
        width: 100%;
        border-radius: 5px;
        display:flex;
        margin-top: 10px;
        order:2;
    }

    .dImgSN1 {
        display: none;
    }

    .dInfoSN {
        align-items: center;        
    }

    .dInfoSN p {
        font-size: 22px;
        order: 3;
    }

    .containerSobreNosotros .dInfoSN h2 {
        order:1;
        font-size: 40px;
        margin-top: -35px;
    }

    .btnSN {
        order:4;
        cursor: pointer;
    }
    
    /* containerComoFunciona */
    .dInfoCF {
        padding: 1rem 2rem;
    }

    .containerComoFunciona .dInfoCF h2 {
        order: 1;
        font-size: 40px;
        margin-top: -25px;
    }
    .containerComoFunciona .dInfoCF p {
        font-size: 22px;
        margin-top: 15px;
    }

    .imgCF1 {
        display:none;
    }

    .imgCF2 {
        display:flex;
        width: 70%;
        border-radius: 5px;
        order: 2;
        margin-top: 15px;
    }

    .containerComoFunciona .dInfoCF p {
        align-items: center;
        order: 3;
        font-size: 22px;
    }

    .dInfoCF {
        align-items: center;
    }

    .btnCF {
        order: 4;
        cursor: pointer;
    }

    /* containerTestimonio */
    .dImgTSM {
        align-items: center;
        justify-content: center;
    }
    
    .hTSM {
        margin-top: 2px;
    }

    .containerTestimonio .dImgTSM {
        margin-top: 55px;
        margin-bottom: 20px;
    }

    .containerTestimonio .dImgTSM .imgTSM {
        width: 45%;
        height: 150%;
        margin-left:0;
    }

    section .containerTestimonio .dInfoTSM {
        padding: 1rem 1.3rem;
        align-items: center;
        justify-content: center;
    }

    section .containerTestimonio .dInfoTSM p, section .containerTestimonio .dInfoTSM .pInfoTSM {
        margin-left: 0px;
    }
    
    /* containerTrustedBrands */
    .containerTrustedBrands {
        margin-top: -20px;
        width: 100%;
        grid-template-columns: 1fr;
        grid-auto-rows: repeat(5fr,1fr);
        justify-content: center;
    }

    /* containerFooter */
    footer {
        background-color: #f3caba;
        width: 100%;
    }

    footer .containerFooter {
        width: 100%;
        grid-template-columns: 1fr;
        grid-auto-rows: repeat(4fr,1fr);
        justify-content: center;
        
    }
    .dInfoPixgram p {
        text-align: center;
    }

    .dInfoPixgram, .dInfoAboutUs, .dInfoSoporte, .dInfoContactanos {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: -20px 10px 3px 0px;
        padding-bottom: 40px;
    }

    footer .containerRedes {
        text-align: center;
        margin: -55px 0px 26px 0px;
    }
    
    footer .containerRedes a {
        padding-right: 6%;
    }

    .containerLine {
        margin-top: -1px;
    }

    footer .containerPrivacy {
        text-align: center;
        margin-right: 0px;
        line-height: 3;
    }
}
